* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100%;
}

canvas {
    display: none;
}

header {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: transparent url(header.jpg) no-repeat center center;
    background-size: cover;
    box-shadow: 0 -1rem 4rem rgba(0, 0, 0, 0.3) inset;
}

    header article {
        color: #fff;
        padding: 2rem 5rem;
        background: blueviolet;
        text-align: center;
        font-size: 2em;
    }
    
        header article h1 {
            margin-bottom: 1rem;
            letter-spacing: 4px;
        }

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

    button, label {
        padding: 1rem 1.6rem;
        background: tomato;
        color: white;
        border: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: normal;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1rem;
        cursor: pointer;
        transition: all .5s ease;
    }
    
    button:hover, label:hover { 
        background: #000;
        color: white;
    }

    main span {
        margin: 2rem;
    }

.webcam {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(0%);
    transition: transform .5s ease-out;
}

.webcam section {
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 3rem rgba(0,0,0,0.35);
}

.webcam.hidden {
    transform: translateY(-100%);
}

.close {
    position: absolute;
    right: 1rem;
    top: 0;
    color: white;
    font-size: 4rem;
    cursor: pointer;
    z-index: 2;
}

.close:hover {
    opacity: 0.8;
}

input[type="file"] {
    display: none;
}

.predict {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 800px;
    background: rgba(0, 0, 0, 0.9);
    overflow: hidden;
    transform: translateX(0%);
}

    .predict section {
        padding: 4rem;
        background: white;
        width: 100%;
        text-align: center;
        transition: transform .5s ease;
        transform: rotateX(0deg);
    }

    .predict section h1 {
        font-size: 2.5rem;
        font-weight: 400;
        margin-bottom: 1rem;
    }

    .predict.hidden {
        transform: translateX(-100%);
    }

    .predict.hidden section {
        transform: rotateX(90deg);
    }

    /* state switches */
    .predict section.loading {
        display: none;
    }

    .predict.loading {
        background: transparent url(loading.gif) no-repeat center center;
        background-size: cover;
    }

    .predict.loading section.loading {
        color: white;
        background: blueviolet;
        display: block;
    }

    .predict.loading section.buttons {
        display: none;
    }

.results {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: opacity 1s ease;
    transform: translateX(0%);
    opacity: 1;
    background: #fff;
}

    .results.hidden {
        opacity: 0;
        transform: translateX(-100%);
    }

    .results h1 {
        font-size: 6rem;
        text-align: right;
    }
        .results h1 a {
            color: #09f;
            text-decoration: none;
            font-weight: normal;
            font-style: italic;
            display: block;
            font-size: 2.5rem;
            font-family: 'Times New Roman', Times, serif;
        }

    .results h1 {
        transform: scale(.7);
    }
    
    .results.first h1:first-child {
        transform: scale(1.2);
    }

    .results.second h1:last-child {
        transform: scale(1.2);
    }

    .results.first h1:last-child {
        display: none;
    }
    
    .results.second h1:first-child {
        display: none;
    }
